<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">
    <div class="branding">
      <img [src]="logo"/>
      <!-- IBM | ePricer -->
    </div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()"
         [routerLink]="[item.link]" routerLinkActive="active">
        {{item.label}}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="wrapper">

    <div class="toolbar mat-elevation-z6" *ngIf="!(displayWelcome)">
      <mat-toolbar color="primary">
        <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>

        <!-- <span routerLink="" class="branding spacer d-inline d-sm-none text-center"><img
          [src]="logo"/></span> -->
        <!-- <span routerLink="" class="branding spacer d-none d-sm-inline d-md-none text-center"><img
          [src]="logo"/> e-Pricer</span> -->
        <span routerLink="" class="branding spacer d-none d-md-inline">
          <img [src]="logo"/>
          <!-- IBM | ePricer -->
        </span>

          <!-- <button mat-button class="sign-in-button "
          *ngIf="!(displayWelcome$ | async)"
          (click)="onLoginClick()">
            Create Quote
          </button> -->

        <span class="d-none d-md-inline">
          <button mat-button class="nav-button" *ngFor="let item of navigation"
              [routerLink]="[item.link]" routerLinkActive="active">
            {{item.label}}
          </button>
        </span>

        <!-- <span class="d-none d-md-inline">
            <button mat-button class="nav-button" *ngFor="let item of navigation"
                [routerLink]="['managequotes']" routerLinkActive="active">
              Create Quote
            </button>
          </span> -->
        <!-- <button mat-button class="sign-in-button "
                *ngIf="!(displayWelcome)"
                (click)="onLoginClick()">
          Create Quote
        </button> -->
        <!-- <button mat-button
          *ngIf="!(displayWelcome)"
          (click)="onLoginClick()">
          <mat-icon>add_circle_outline</mat-icon>
          <span>Create Quote</span>
        </button> -->

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend" style="margin-top:16px;" >
                    <button class="btn btn-primary dropdown-toggle"
                      type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Search by
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Quote Ids</a>
                        <a class="dropdown-item" href="#">Customer name</a>
                        <a class="dropdown-item" href="#">Quote manager</a>
                    </div>
                </div>
                <input type="text" class="form-control" style="margin-top:16px;" placeholder="Search quotes">
            </div>


        <button *ngIf="!(displayWelcome)"
                mat-icon-button
                [matMenuTriggerFor]="toolbarUserMenu">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #toolbarUserMenu="matMenu">
          <button mat-menu-item (click)="onLogoutClick()">
            <mat-icon>power_settings_new</mat-icon>
            <span>Sign Out</span>
          </button>
        </mat-menu>

        <button mat-icon-button routerLink="settings" class="d-none d-sm-inline">
          <mat-icon>settings</mat-icon>
        </button>

      </mat-toolbar>
    </div>

    <div class="content"
         [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <!-- <div class="footer" *ngIf="!(displayWelcome$ | async)">
      <div class="row">
        <div class="col-sm-12 links">
          <a href="https://www.github.com/tomastrajan" target="_blank">
            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
            <span>Github</span>
          </a>
          <a href="https://www.medium.com/@tomastrajan" target="_blank">
            <i class="fa fa-medium fa-2x" aria-hidden="true"></i>
            <span>Medium</span>
          </a>
          <a href="https://www.twitter.com/tomastrajan" target="_blank">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            <span>Twitter</span>
          </a>
          <a href="https://www.youtube.com/channel/UC7XgRHIVoqnh3U5Vmly9ofQ"
             target="_blank">
            <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
            <span>Youtube</span>
          </a>
          <a href="https://www.instagram.com/tomastrajan" target="_blank">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
            <span>Instagram</span>
          </a>
          <a href="https://www.slides.com/tomastrajan" target="_blank">
            <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
            <span>Slides</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 signature">
          &#169; {{year}} - Tomas Trajan
          <br class="d-block d-sm-none">
          <a matTooltip="Show changelog"
             matTooltipPosition="before"
             href="https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/CHANGELOG.md">
            <i class="fa fa-rocket"></i> {{version}} <span *ngIf="!isProd">[{{envName}}]</span>
          </a>
        </div>
      </div>
    </div> -->

  </div>

</mat-sidenav-container>
